version: 2

references:
  workspace_root: &workspace_root
    /tmp/workspace
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

jobs:
  build:
    working_directory: ~/testDeploy
    docker:
      - image: docker:18.06.3-ce-git
    steps:
      - *attach_workspace
      - run: apk update -y && apk upgrade && apk add --no-cache nss && apk add --no-cache openjdk8
      - run: DOCKER_HOST=unix:///var/run/docker-real.sock && apk add maven -y
      - checkout
      - setup_remote_docker
      - restore_cache:
          key: testDeploy-{{ checksum "pom.xml" }}
      - run: mvn -B dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: testDeploy-{{ checksum "pom.xml" }}
      - run: mvn -B -s settings.xml install
      - store_test_results:
          path: target/surefire-reports
      - store_artifacts:
          path: target/testDeploy-0.0.1-SNAPSHOT.jar
      - persist_to_workspace:
          root: *workspace_root
          paths: /root/testDeploy
  deploy:
    working_directory: ~/testDeploy
    docker:
      - image: docker:18.06.3-ce-git
    steps:
      - *attach_workspace
      - run: pwd
      - run: ls
      - run: ls /tmp/workspace
      - run: apk update -y && apk upgrade && apk add --no-cache nss && apk add --no-cache openjdk8
      - run: DOCKER_HOST=unix:///var/run/docker-real.sock && apk add maven -y
      - setup_remote_docker
      - run: mvn -B -s settings.xml dockerfile:push

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - development
                - master
                - /^testDeploy.*/