version: 2

references:
  workspace_root: &workspace_root
    /tmp/workspace
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

jobs:
  build:
    working_directory: ~/app
    docker:
      - image: rsoprojectwut/cibuild:0.0.1
    steps:
      - *attach_workspace
      - checkout
      - setup_remote_docker
      - restore_cache:
          key: app-{{ checksum "pom.xml" }}
      - run: mvn -B dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: app-{{ checksum "pom.xml" }}
      - run: mvn -B -s settings.xml install
      - store_test_results:
          path: target/surefire-reports
      - store_artifacts:
          path: target/app-0.0.1-SNAPSHOT.jar
      - run:
          name: Copy to workspace
          command: mv ./* /tmp/workspace
      - persist_to_workspace:
          root: *workspace_root
          paths: .
  deploy:
    working_directory: ~/app
    docker:
      - image: rsoprojectwut/cibuild:0.0.1
    steps:
      - *attach_workspace
      - run:
          name: Copy workspace
          command: mv /tmp/workspace/* .
      - setup_remote_docker
      - run: mvn -B -s settings.xml dockerfile:build dockerfile:push --projects "testDeploy consumerService" #add all deployed modules here as a list

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - development
                - master
                - /^testDeploy.*/