---
apiVersion: v1
kind: Service
metadata:
  name: userservice
  labels:
    app: userservice
spec:
  type: NodePort
  selector:
    app: userservice
  ports:
  - protocol: TCP
    port: 8080
    name: http

---
apiVersion: v1
kind: ReplicationController
metadata:
  name: userservice
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: userservice
    spec:
      containers:
      - name: userservice
        image: rsoprojectwut/userservice:0.0.2
        ports:
        - containerPort: 8080
        livenessProbe:
          httpGet:
            path: /healthcheck
            port: 8025
          initialDelaySeconds: 30
          timeoutSeconds: 1
